$fa-css-prefix: icon;

@import "vendors/font-awesome/font-awesome";

@import "compass";

@import "jquery.contextMenu";

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column;

    width: 400px;
    height: 600px;
    margin: 0;
    padding: 40px 0 0;

    font: 12px/1.4285 arial,sans-serif;
    color: #333;
}

a {
    text-decoration: none;
}

button, input, select {
    color: inherit;
}

.h {
    display: none;
}

.form {
}

.form-group {
    margin-bottom: 8px;
}

.form-control {
    width: 100%;
    padding: 5px 7px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;

    &:focus {
        border-color: #87A9C4;
        outline: none;
    }
}

.form-footer {
    text-align: right;
}

.btn {
    background: #e0e0e0;
    padding: 6px 13px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    cursor: pointer;

    &:hover {
        background: #bbb;
    }

    &:focus {
        border-color: #87A9C4;
        outline: none;
    }

    &:active {
        box-shadow: inset 0 2px 3px #87A9C4;
    }
}

.alert-panel, .confirm-panel {
    .button-bar {
        text-align: right;
    }
}


#fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    padding: 8px 8px 0;
    background: #fafafa;

    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

    overflow: hidden;
}

.fixed-top-panel {
    position: relative;
    margin: 0 0 8px;
}

.search-panel .icon {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    left: 1px;
    top: 1px;
    color: #87A9C4;
}

#search {
    width: 100%;
    height: 22px;
    padding: 0 7px 0 23px;

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #aaa;

    &:focus {
        outline: none;
        border-color: #87A9C4;
        color: inherit;
    }
}

.bm-list, .bm-sublist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bm-sublist {
    margin-left: 25px;
}

.bm-item {
}

.bm-item-title {
    display: block;
    color: #333;
    height: 22px;
    line-height: 22px;

    @include ellipsis;

    margin-left: -2700px;
    padding-left: 2700px;

    cursor: pointer;

    &:focus {
        outline: 0;
    }

    &:hover,
    .less.selected > &,
    &.context-menu-active {
        background: #f0f0f0;
        color: inherit;
    }

    .selected > & {
        background: #e0e0e0;
        color: #D10D0D;
    }

    .title {
        &.isurl {
            color: #999;
        }
    }

    .desc {
        color: #999;
    }
}

.bm-item-favicon {
    display: inline-block;

    width: 22px;
    height: 22px;
    margin: 0 5px 0 0;

    overflow: hidden;
    text-align: center;
    vertical-align: middle;

    color: #87A9C4;
}

.bm-item-bookmark, .bm-item-history {
    > .bm-item-title > .bm-item-favicon {
        font-size: 0;
        line-height: 22px;

        img {
            vertical-align: middle;
            position: relative;
            top: -1px;
        }
    }
}

.bm-item-history {
    > .bm-item-title {
        .last-visit-time, .visit-count {
            float: right;
            height: 16px;
            margin-top: (22px - 16px) / 2;
            padding-left: 5px;
            margin-left: 5px;
            border-left: 1px solid #eee;
            line-height: 16px;
            color: #999;
        }

        .visit-count {
            width: 3em;
            text-align: right;
            margin-left: 20px;
        }
    }
}

.bm-item-directory {
    > .bm-item-title > .bm-item-favicon {
        font: 16px/22px FontAwesome;

        &:before {
            // content: "\f114";
            content: "\f07b";
        }
    }

    &.open {
        > .bm-item-title > .bm-item-favicon {
            &:before {
                // content: "\f115";
                content: "\f07c";
            }
        }
    }
}

.bm-item-separator {
    > .bm-item-title {
        position: relative;
        display: flex;
        color: #999;

        .line-l, .line-r {
            display: block;
            height: 0;
            margin: 10px 0 0;
            border-bottom: 1px dashed #bbb;
        }

        .line-l {
            width: 20px;
        }

        .line-r {
            flex: 1;
        }

        .title {
            padding: 0 6px;
        }
    }

    &.selected >.bm-item-title {
        color: #d10d0d;

        .line-l, .line-r {
            border-color: #d10d0d;
        }
    }

    &.selected.less > .bm-item-title {
        color: #999;

        .line-l, .line-r {
            border-color: #bbb;
        }
    }
}

#bookmarks {
    overflow-y: auto;
    padding: 8px;
    flex: 1;
    position: relative;
    user-select: none;
}
