$fa-css-prefix: icon;

@import "compass";
@import "vendors/font-awesome/font-awesome";

body {
    font: 12px/1.4285 arial,sans-serif;
    color: #333;
    margin: 8px;
}

a {
    text-decoration: none;
}

button, input, select {
    color: inherit;
}

.search-box {
    margin-bottom: 10px;
    position: relative;

    input[type=text] {
        box-sizing: border-box;

        width: 100%;
        height: 22px;
        padding: 0 7px 0 23px;

        border: 1px solid #ddd;
        border-radius: 3px;
        color: #aaa;

        &:focus {
            outline: none;
            border-color: #87A9C4;
            color: inherit;
        }
    }

    .icon {
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        position: absolute;
        left: 1px;
        top: 1px;
        color: #87A9C4;
    }
}

.bm-list, .bm-sublist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bm-sublist {
    margin-left: 25px;
}

.bm-item {
}

.bm-item-title {
    display: block;
    color: #333;
    line-height: 20px;

    @include ellipsis;

    margin-left: -2700px;
    padding-left: 2700px;

    cursor: pointer;

    &:hover {
        background: #e0e0e0;
    }
}

.bm-item-favicon {
    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;

    font: 16px/20px FontAwesome;

    overflow: hidden;
    text-align: center;
    vertical-align: middle;

    color: #87A9C4;
}

.bm-item-directory > .bm-item-title > .bm-item-favicon:before {
    // content: "\f114";
    content: "\f07b";
}

.bm-item-directory.open > .bm-item-title > .bm-item-favicon:before {
    // content: "\f115";
    content: "\f07c";
}

.bm-item-separator > .bm-item-title {
    position: relative;

    .line {
        display: block;
        margin: 9px 0 -10px;
        border-bottom: 1px dashed #bbb;
    }

    .text {
        margin-left: 20px;
        padding: 0 5px;
        color: #999;
        background: #fff;
    }

    &:hover {
        .text {
            background: #e0e0e0;
        }
    }
}

#bookmarks {
    width: 500px;
}
